/* Paleta de colores Chifa */
.text-danger { color: #b91c1c !important; } /* Rojo Imperial */
.border-danger { border-color: #b91c1c !important; }
.btn-warning { 
    background-color: #facc15 !important; /* Dorado */
    color: #b91c1c !important; 
    border: none;
}

.mesa-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-width: 2px !important;
}

.mesa-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(185, 28, 28, 0.4) !important;
}

.text-warning { color: #facc15 !important; }
.border-warning { border-color: #facc15 !important; }

/* Animación de carga */
.spinner-border.text-danger {
    color: #b91c1c !important;
}