.login-page {
  /* Fondo degradado rojo/negro */
  background: linear-gradient(135deg, #450a0a 0%, #000000 100%);
}

.glass-card {
  background: rgba(255, 255, 255, 0.98);
  border-radius: 24px;
  border: 2px solid #facc15; /* Borde Dorado */
  box-shadow: 0 0 25px rgba(250, 204, 21, 0.3);
}

.icon-box-chifa {
  width: 75px;
  height: 75px;
  background: #facc15; /* Dorado */
  color: #b91c1c; /* Rojo Chifa */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.title-chifa {
  color: #b91c1c;
  letter-spacing: 1px;
}

.btn-chifa-red {
  background-color: #b91c1c;
  border: none;
  color: #facc15;
  font-weight: 700;
  border-radius: 12px;
  transition: 0.3s;
}

.btn-chifa-red:hover {
  background-color: #991b1b;
  transform: translateY(-2px);
  color: white;
}

.border-gold {
  border-color: #facc15 !important;
}